.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;

}

.container__btn {
    display: none;
}

.container__btn:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__txt {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--neg {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .container__titulo--neg {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        list-style-type: none;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto-defaut);
    }

    .container__imagem-transparent {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__btn:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__btn {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        color: var(--preto-defaut);
        font-size: 20px;
        margin-right: 1em;
        text-decoration: none;
    }

    .cabecalho {
        padding: 0 2em
    }

    .opcoes {
        margin-right: auto;
    }

    .container__titulo {
        margin-right: 1em;
    }

    .container__txt {
        display: block;
    }
}